analysis_data_OLD/
excluded/
raw_data/
SPM12_Analyses_201516/
literature/
.emacs
Latex_docs/
nipype_tutorial/
nipype_tut/
VBM/
fMRI/
FED_GroupAssignments.md
*.xls
*.xlsx
*.txt
*.m
*.mat
*checkpoint.sh
preprocessing_background