analysis_data_OLD/
excluded/
raw_data/
SPM12_Analyses_201516/
literature/
.emacs
Latex_docs/
nipype_tutorial/
nipype_tut/
VBM/
fMRI/
FED_Assign2Groups.sh
FED_GroupAssignments.md
FED_TemplateAssignments.md
get-FEDXXXNIFTIs.sh
repl-fileN-FEDXXX.sh
*.xls
*.xlsx
*.txt
*.m
*.mat